@import './base.css';

nav a,
.green {
  text-decoration: none;
  color: var(--color-dark);
  transition: 0.4s;
}

@media (hover: hover) {
  nav a:hover {
    background-color: hsla(2, 85%, 50%, 0.3);
  }
}
